body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

.products {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px gray;
}

.card span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: green;
}

footer {
  text-align: center;
  padding: 10px;
  background: #222;
  color: white;
}